<div class"container">
  <div class="row pt-5">
    <div class="col-md-4 col-10 mx-auto pb-5 ml-5">
      <h4>現在の日程</h4>
      <div class="ml-md-5 mt-4">
        <% if @plan.days.any? %>
          <% @plan.days.order(day: :asc).each do |day| %>
            <%= day.day %><br>
          <% end %>
        <% else %>
          <p>日程はありません。</p>
        <% end %>
      </div>
      <h4 class="my-5">日程入力</h4>

      <%= render 'layouts/error', obj: @day %>

      <%= form_with model: @day, url: plan_days_path do |f| %>
        <div class="form_group">
          <%= f.label :日程, class: "col-md-4 col-5" %>
          <%= f.date_select :day, use_month_numbers: true, class: "col-md-4" %>
        </div>
        <div class="form_group text-center">
          <%= f.submit "スケジュール入力", class: "btn btn-outline-dark mt-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>