<div>
  <% plans.each do |plan| %>
    <div>
      <%= image_tag plan.get_plan_image, size: '300x200' %>
    </div>
    <div>
      <%= link_to plan_path(plan) do %>
        【<%= plan.title %>】
      <% end %>
      <%= plan.prefecture %>
      <%= plan.impression %>

      <div class="d-flex">
        <% plan.tags.each do |tag| %>
          <i class="fas fa-tag"></i>
          <%= tag.name %><br>
        <% end %>
        <div id="bookmark_buttons_<%= plan.id %>">
          <%= render 'public/bookmarks/bookmark', plan: plan %>
        </div>
      </div>

      <%= plan.created_at.strftime("%Y/%m/%d") %>
      <%= image_tag plan.user.get_profile_image, size: '40x40', class: "rounded-circle" %>
    </div>
  <% end %>
</div>