<div class"container">
  <div class="row">
    <div class="col-md-8 mx-auto text-center py-5">

      <div>
        <p>
          <%= @plan.title %>
          <%= link_to "編集", edit_plan_path(@plan) %>
        </p>
        <%= image_tag @plan.get_plan_image, size: '400x300' %>
        <p>
          <%= @plan.prefecture %> |
          <%= @plan.stay_days %> |
          <%= @plan.main_vehicle %> |
          <%= @plan.budget %><br>
          <%= @plan.impression %><br>
          <% @plan_tags.each do |tag| %>
            <i class="fas fa-tag"></i>
            <%= tag.name %>
          <% end %>
        </p>
      </div>
      <%= link_to "日程を追加", new_plan_day_path(@plan), class: "btn btn-primary" %>
      <% @days.each do |day| %>
      <div>
        <p class="mt-5">
          <%= day.day.strftime("%Y年%m月%d日") %>
          <%= link_to "編集", edit_plan_day_path(@plan, day) %>
        </p>
        <div class="row">
          <% day.schedules.order(start_at: :asc).each do |schedule| %>
          <div class="col-md-3">
            <%= schedule.start_at.strftime('%H:%M') %> ~
            <%= schedule.finished_at.strftime('%H:%M') %>
          </div>
          <div class="col-md-3">
            <%= schedule.place %> |
            <%= schedule.cost %> 円
          </div>
          <div class="col-md-3">
            <%= schedule.schedule_comment %>
          </div>
          <div class="col-md-3">
            <%= schedule.transportation %> |
            <%= schedule.transfer_time %> 分 |
            <%= schedule.expense %> 円 |
            <%= link_to "編集", edit_plan_day_schedule_path(@plan, day, schedule) %>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>

      <div>
        <%= link_to "投稿", plans_path, class: "btn btn-outline-dark mt-5" %>
      </div>

    </div>
  </div>
</div>