<div class="container">
  <div class="row">
    <div class="col-12 mx-auto text-center py-5">

      <div>
        <div class="d-flex justify-content-center">
          <h4>
            <%= @plan.title %>
          </h4>
          <p>
            <%= link_to "編集", edit_plan_path(@plan) %>
          </p>
        </div>

        <div class="swiper" style="width: 100%; height: 300px;">
          <div class="swiper-wrapper">
            <% if @plan.plan_images.attached? %>
              <% @plan.plan_images.each do |image| %>
              <div class="swiper-slide">
                <%= image_tag image, size: '400x300', class: 'img-fluid d-block mx-auto', style: 'width: 400px; height: 300px; object-fit: cover;' %>
              </div>
              <% end %>
            <% else %>
              <p class="mx-auto" style="line-height: 300px;">no image</p>
            <% end %>
          </div>
          <!-- ページネーションの要素 -->
          <div class="swiper-pagination"></div>
           <!-- ナビゲーションボタン （前、次） -->
          <div class="swiper-button-prev"><i class="fas fa-chevron-circle-left"></i></div>
          <div class="swiper-button-next"><i class="fas fa-chevron-circle-right"></i></div>
        </div>

        <div>
          <div class="py-3">
            <%= @plan.prefecture %> |
            <%= @plan.stay_days %> |
            <%= @plan.main_vehicle %> |
          </div>
          <%= @plan.budget %><br>
          <%= simple_format(@plan.impression, class: 'text-break') %><br>
          <% @plan_tags.each do |tag| %>
            <i class="fas fa-tag"></i>
            <%= tag.name %>
          <% end %>
        </div>
      </div>
      <%= link_to "日程を追加", new_plan_day_path(@plan), class: "btn btn-primary" %>
      <% @days.order(day: :asc).each do |day| %>
      <div style="width: 90%; border-bottom: 1px solid; margin: 0 auto;">
        <p class="mt-5">
          <%= day.day.strftime("%Y年%m月%d日") %>
          <%= link_to "編集", edit_plan_day_path(@plan, day) %>
        </p>
          <% day.schedules.order(start_at: :asc).each do |schedule| %>
          <div class="row mb-3">
            <div class="col-md-3 col-6">
              <%= schedule.start_at.strftime('%H:%M') %> ~
              <%= schedule.finished_at.strftime('%H:%M') %>
            </div>
            <div class="col-md-3 col-6">
              <%= schedule.place %> |
              <%= schedule.cost %> 円
            </div>
            <div class="col-md-3 col-10 mx-auto">
              <%= simple_format(schedule.schedule_comment, class: 'text-break') %>
            </div>
            <div class="col-md-3">
              <%= schedule.transportation %> |
              <%= schedule.transfer_time %> 分 |
              <%= schedule.expense %> 円 |
              <%= link_to "編集", edit_day_schedule_path(day, schedule) %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>

      <div>
        <%= link_to "投稿", plans_path, class: "btn btn-outline-dark mt-5" %>
      </div>

    </div>
  </div>
</div>