<h1>プラン一覧</h1>

<div>
  <% @plans.each do |plan| %>
  <div>
    <%= image_tag plan.get_plan_image(200, 200) %>
    <%= link_to plan_path(plan) do %>
      <%= plan.title %>
    <% end %>
    <%= plan.prefecture %>
    <%= plan.stay_days %>
    <%= plan.budget %>
    <%= plan.main_vehicle %>
    <%= plan.impression %>
  </div>
  <% end %>
</div>
