<div class="container">
  <div class="row">
    <div class="col-md-12 col-10 mx-auto pb-5 pl-md-5">
      <h4 class="my-5 text-center">プラン入力</h4>

      <%= render 'layouts/error', obj: @plan %>

      <div class="ml-md-5 text-center">
      <%= form_with model: @plan, method: :post do |f| %>
        <div class="row">
          <%= f.label :title, "タイトル", class: "form-label col-md-4 mb-3" %>
          <%= f.text_field :title, class: "form-control col-md-4 mb-3" %>
        </div>
        <div class="row">
          <%= f.label :prefecture, "都道府県", class: "form-label col-md-4 mb-3" %>
          <%= f.select :prefecture, options_for_select(Plan.prefectures.keys, selected: nil), { include_blank: '---' }, { class: "form-control col-md-4 mb-3" } %>
        </div>
        <div class="row">
          <%= f.label :stay_days, "宿泊日数", class: "form-label col-md-4 mb-3" %>
          <%= f.select :stay_days, options_for_select(Plan.stay_days.keys, selected: nil), { include_blank: '---' }, { class: "form-control col-md-4 mb-3" } %>
        </div>
        <div class="row">
          <%= f.label :budget, "予算", class: "form-label col-md-4 mb-3" %>
          <%= f.select :budget, options_for_select(Plan.budgets.keys, selected: nil), { include_blank: '---' }, { class: "form-control col-md-4 mb-3" } %>
        </div>
        <div class="row">
          <%= f.label :main_vehicle, "主な移動手段", class: "form-label col-md-4 mb-3" %>
          <%= f.select :main_vehicle, options_for_select(Plan.main_vehicles.keys, selected: nil), { include_blank: '---' }, { class: "form-control col-md-4 mb-3" } %>
        </div>
        <div class="row">
          <%= f.label :impression, "感想", class: "form-label col-md-4 mb-3" %>
          <%= f.text_area :impression, class: "form-control col-md-4 mb-3" %>
        </div>
        <div class="row d-flex">
          <%= f.label :plan_images, "思い出（５枚まで選択できます）", class: "form-label col-md-4 mb-3" %>
          <%= f.file_field :plan_images, multiple: true, class: "form-control-file col-md-4 mb-3", accept: "image/*" %>
        </div>
        <div class="row d-flex">
          <%= f.label :name, "タグ(,で複数タグ登録できます)", class: "form-label col-md-4 mb-3" %>
          <%= f.text_field :name, value: @tag_list, class: 'form-control col-md-4 mb-3' %>
        </div>
        <div class="row">
          <p style="color: red;">タグの文字数の合計が8を超えた場合は、投稿一覧ページには表示されません。投稿詳細ページで確認可能です。</p>
        </div>
        <div class="row d-flex">
          <%= f.submit "日程入力", class: "btn btn-outline-dark mt-5 mx-auto" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

</div>