<div>
  <%= image_tag @plan.get_plan_image(300, 300) %>
  <p>
    <%= @plan.title %>
    <%= @plan.prefecture %>
    <%= @plan.stay_days %>
    <%= @plan.main_vehicle %>
    <%= @plan.impression %>
    <%= link_to "編集", edit_plan_path(@plan) %>
  </p>
</div>

<% @days.each do |day| %>
<div>
  <p>
    日にち<br><%= day.date %>
    <%= link_to "編集", edit_plan_day_path(@plan, day) %>
  </p>
  <p>
    スケジュール<br>
    <% day.schedules.each do |schedule| %>
      <%= schedule.start_at.strftime('%H:%M') %> ~
      <%= schedule.finished_at.strftime('%H:%M') %><br>
      <%= schedule.place %>
      <%= schedule.schedule_comment %>
      <%= schedule.cost %>
      <%= schedule.transportaion %>
      <%= schedule.transfer_time %>
      <%= schedule.expense %>
      <%= link_to "編集", edit_plan_day_schedule_path(@plan, day, schedule) %><br>
    <% end %>
  </p>
</div>
<% end %>