<div class"container">
  <div class="row">
    <div class="col-md-8 mx-auto text-center py-5">

      <div>
        <p><%= @plan.title %></p>
        <%= image_tag @plan.get_plan_image(300, 300) %>
        <p>
          <%= @plan.prefecture %> |
          <%= @plan.stay_days %> |
          <%= @plan.main_vehicle %> |
          <%= @plan.budget %><br>
          <%= @plan.impression %>
        </p>
      </div>

      <div class="row my-5">
        <div class="col-md-3">時間</div>
        <div class="col-md-3">場合やイベント/費用</div>
        <div class="col-md-3">コメント</div>
        <div class="col-md-3">そこまでの移動</div>
      </div>

      <% @days.each do |day| %>
      <div>
        <p>
          <%= day.date.strftime("%Y年%m月%d日") %>
        </p>
        <div class="row mb-5">
          <% day.schedules.each do |schedule| %>
          <div class="col-md-3">
            <%= schedule.start_at.strftime('%H:%M') %> ~
            <%= schedule.finished_at.strftime('%H:%M') %>
          </div>
          <div class="col-md-3">
            <%= schedule.place %> |
            <%= schedule.cost %> 円
          </div>
          <div class="col-md-3">
            <%= schedule.schedule_comment %>
          </div>
          <div class="col-md-3">
            <%= schedule.transportation %> |
            <%= schedule.transfer_time %> 分 |
            <%= schedule.expense %> 円
          </div>
          <% end %>
        </div>
      </div>
      <% end %>

      <div>
        <%= link_to "編集する", check_plan_path(@plan), class: "btn btn-outline-dark mt-5" %>
      </div>

    </div>
  </div>
</div>