<div class"container">
  <div class="row">

    <div class="col-md-2 py-5 offset-md-1">
      <div>
        <% @plan.comments.each do |comment| %>
          <%= image_tag comment.user.get_profile_image, size: '40x40', class: "rounded-circle" %>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
          <% if comment.user == current_user %>
            <%= link_to plan_comment_path(@plan, comment), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
          <p class="pl-5"><%= comment.comment %></p>
        <% end %>
      </div>
      <div class="text-right">
        <%= form_with model: [@plan, @comment] do |f| %>
          <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに", class: "w-100" %>
          <%= f.submit "送信する", class: "btn btn-sm btn-dark text-white" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 text-center py-5">

      <div>
        <p>
          <%= @plan.title %>
        </p>
        <%= image_tag @plan.get_plan_image, size: '400x300' %>
        <p>
          <%= @plan.prefecture %> |
          <%= @plan.stay_days %> |
          <%= @plan.main_vehicle %> |
          <%= @plan.budget %><br>
          <%= @plan.impression %><br>
          
          <div class="d-flex justify-content-center">
            <% @plan_tags.each do |tag| %>
              <i class="fas fa-tag"></i>
              <%= tag.name %>
            <% end %>
            <div id="bookmark_buttons_<%= @plan.id %>">
              <%= render 'public/bookmarks/bookmark', plan: @plan %>
            </div>
          </div>

        </p>
      </div>

      <div class="row my-5">
        <div class="col-md-3">時間</div>
        <div class="col-md-3">場合やイベント/費用</div>
        <div class="col-md-3">コメント</div>
        <div class="col-md-3">そこまでの移動</div>
      </div>

      <% @days.each do |day| %>
      <div>
        <p>
          <%= day.day.strftime("%Y年%m月%d日") %>
        </p>
        <div class="row mb-5">
          <% day.schedules.each do |schedule| %>
          <div class="col-md-3">
            <%= schedule.start_at.strftime('%H:%M') %> ~
            <%= schedule.finished_at.strftime('%H:%M') %>
          </div>
          <div class="col-md-3">
            <%= schedule.place %> |
            <%= schedule.cost %> 円
          </div>
          <div class="col-md-3">
            <%= schedule.schedule_comment %>
          </div>
          <div class="col-md-3">
            <%= schedule.transportation %> |
            <%= schedule.transfer_time %> 分 |
            <%= schedule.expense %> 円
          </div>
          <% end %>
        </div>
      </div>
      <% end %>

      <div>
        <% if @plan.user == current_user %>
          <%= link_to "編集する", check_plan_path(@plan), class: "btn btn-dark text-white mt-5 " %>
        <% end %>
      </div>

    </div>
  </div>
</div>