<div class="container">
  <div class="row pt-5">
    <div class="col-md-8 col-10 mx-auto">
      <h3 class="my-4 text-center">新規会員登録</h3>

      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field d-md-flex mb-3">
          <%= f.label :name, "ユーザーネーム", class: "col-md-6" %><br />
          <%= f.text_field :name, autofocus: true, class: "col-md-6" %>
        </div>

        <div class="field d-md-flex mb-3">
          <%= f.label :email, "メールアドレス", class: "col-md-6" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "col-md-6" %>
        </div>

        <div class="field d-md-flex mb-3">
          <div class="col-md-6">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "col-md-6" %>
        </div>

        <div class="field d-md-flex mb-3">
          <%= f.label :password, "パスワード（確認用）", class: "col-md-6" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-6" %>
        </div>

        <div class="text-center my-5">
          <%= f.submit "新規登録", class: "btn btn-outline-dark" %>
        </div>

      <% end %>

      <div class="text-center my-5">
        <h4>既に登録済みの方</h4>
        <%= render "public/shared/links" %>からログインしてください。
      </div>

    </div>
  </div>
</div>