<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">ユーザー一覧</h4>
      <div class="table">
        <div class="table_line">
          <div class="block">ユーザーID</div>
          <div class="block">ユーザーネーム</div>
          <div class="block">メールアドレス</div>
          <div class="block">ユーザーステータス</div>
        </div>
        <div class="table_line">
        <% @users.each do |user| %>
          <div>
            <%= user.id %>
            <%= link_to admin_user_path(user) do %>
              <%= user.name %>
            <% end %>
            <%= user.email %>
            <% if user.is_deleted == true %>
              <span style="color:darkgray;"><%= "退会" %></strong>
            <% else %>
              <strong style="color:orange;"><%= "有効" %></strong>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>