<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5"><%= @user.name %>さんの会員詳細</h4>

      <div class="table">
        <div class="table_line">
          <div class="block">ユーザーID</div>
          <div class="block"><%= @user.id %></div>
        </div>
        <div class="table_line">
          <div class="block">ユーザーネーム</div>
          <div class="block"><%= @user.name %></div>
        </div>
        <div class="table_line">
          <div class="block">自己紹介文</div>
          <div class="block"><%= @user.introduction %></div>
        </div>
        <div class="table_line">
          <div class="block">メールアドレス</div>
          <div class="block"><%= @user.email %></div>
        </div>
        <div class="table_line">
          <div class="block">ユーザーステータス</div>
          <div class="block"><%= @user.user_status %></div>
        </div>
      </div>

      <%= link_to "編集", edit_admin_user_path(@user) %>

    </div>
  </div>
</div>