<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h4 class="my-5">ユーザー編集</h4>

      <%= form_with model: @user, url: users_information_path, method: :patch do |f| %>
        <div class="d-flex mb-4 bg-secondary">
          <%= image_tag @user.get_profile_image(200, 200), class: "rounded-circle mr-5" %>
          <div class="form-group mt-5">
            <%= f.label :プロフィール画像 %>
            <%= f.file_field :profile_image, class: "form-control-file", accept: "image/*" %>
          </div>
        </div>
        <div class="form-group d-flex mb-4">
          <%= f.label :ユーザーネーム, class: "mr-5" %>
          <%= f.text_field :name, class: "form-control user_name w-50" %>
        </div>
        <div class="form-group d-flex mb-5">
          <%= f.label :自己紹介, class: "mr-5" %>
          <%= f.text_area :introduction, rows: '3', class: "ml-5 form-control user_introduction w-50" %>
        </div>
        <div class="form-group d-flex">
          <div class="mx-auto">
            <%= f.submit "変更を保存", class: "btn btn-outline-dark" %>
            <%= link_to "戻る", users_mypage_path(@user), class: "btn btn-outline-info" %>
          </div>
          <div>
            <%= link_to "退会する", users_unsubscribe_path, class: "btn btn-outline-danger" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>