<div class="container">
  <div class="row pb-5">
    <div class="col-md-8 col-10 mx-auto">
      <h4 class="my-5 text-center">ユーザー編集</h4>

      <%= render 'layouts/error', obj: @user %>

      <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <div class="text-center">
          <%= image_tag @user.get_profile_image, size: '100x100', class: "rounded-circle" %>
        </div>
        <div class="form-group d-md-flex mt-5">
          <%= f.label :profile_image, "プロフィール画像", class: "col-md-4" %>
          <%= f.file_field :profile_image, class: "form-control-file", accept: "image/*" %>
        </div>
        <div class="form-group d-md-flex mb-4">
          <%= f.label :name, "ユーザーネーム", class: "col-md-4" %>
          <%= f.text_field :name, class: "form-control user_name col-md-6" %>
        </div>
        <div class="form-group d-md-flex mb-5">
          <%= f.label :introduction, "自己紹介", class: "col-md-4" %>
          <%= f.text_area :introduction, rows: '3', class: "form-control user_introduction col-md-6" %>
        </div>
        <div class="form-group d-flex">
          <div class="mx-auto">
            <%= f.submit "変更を保存", class: "btn btn-outline-dark" %>
            <%= link_to "戻る", user_path(@user), class: "btn btn-outline-info" %>
          </div>
          <div>
            <%= link_to "退会する", unsubscribe_user_path, class: "btn btn-sm btn-outline-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>