<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-7 mx-auto bg-secondary">
      <div class="d-flex">
        <%= image_tag @user.get_profile_image(200, 200), class: "rounded-circle ml-3 mr-5" %>
        <div class="mt-3">
          <p style="font-size: 25px;">
            <strong><%= @user.name %></strong>
          </p>
          <p style="font-size: 20px;">
            <%= @user.introduction %>
          </p>

          <div class="d-flex">
            <p class="d-flex mr-3">
              フォロー：
              <%= link_to user_follows_path(@user), style: "color: black;" do %>
                <%= @user.followers.count %>
              <% end %>
            </p>

            <p class="d-flex mr-3">
              フォロワー：
              <%= link_to user_followers_path(@user), style: "color: black;" do %>
                <%= @user.followeds.count %>
              <% end %>
            </p>

            <% if current_user != @user %>
              <% if current_user.following?(@user) %>
                <%= link_to user_relationships_path(@user.id), method: :delete do %>
                  <i class="fas fa-user-times"></i>
                <% end %>
              <% else %>
                <%= link_to user_relationships_path(@user.id), method: :post do %>
                  <i class="fas fa-user-plus"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to "編集", edit_user_path, class: "btn btn-sm btn-outline-dark", style: "color: black;" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>